/* ------------------PAINT-ROOT-------------------- */
:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--fon-color: #ffffff;
	--secondary-fon-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--fon-button-color: #f5f4fa;
	--fon-header-color: #ffffff;
}

/* ------------------PAINT------------------------- */

/*  --primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--fon-color: #e5e5e5;
	--secondary-fon-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--fon-button-color: #f5f4fa;
	--fon-header-color: #ffffff; */

/* --------------------BODY------------------------ */

body {
	color: #212121;
	background-color: #ffffff;
	font-style: normal;
	font-family: "Roboto", sans-serif;
}

/* --------------убираем маркеры--------------------*/

.list {
	list-style: none;
}

/* -----------------убираем_подчеркивание-----------*/

.link {
	text-decoration: none;
}
/* -----Общие оформление текста в секциях-----------*/

.site-section-text {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
}

/* ----------------HEADER-FOOTER-LOGO--------------- */

.logo_blue {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #2196f3;
}

.logo_black {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
}

.logo_white {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #ffffff;
}

/* ----------------SITE-HEADER-NAV----------------- */

.site-header-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: #212121;
}

.site-header-nav:hover,
.site-header-nav:focus {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-heder-nav:active {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-header-nav.current {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
/* ---------------------HEADER-CONTACT------------- */

.site-header-contact {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
}

.site-hider-contact-nav:hover,
.site-hider-contact-nav:focus {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
}
/* ----------------------HERO---------------------- */

.hero-title {
	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
}
.hero-fon {
	background-color: #2f303a;
}
/* ----------------HERO-BUTTON--------------------- */

.hero_super_button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background-color: #2196f3;
	cursor: pointer;
}
/* --------PECURIALITIES-SECTION-ОСОБЕННОСТИ------- */

.peculiarities-sub_title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

/* --WHAT_ARE_WE_DOING-SECTION-ЧЕМ_МЫ_ЗАНИМАЕМСЯ--- */

.What_are_we_doing-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: #212121;
}
.What_are_we_doing-background {
	background-color: #f5f4fa;
}

/* ----------TEAM-SECTION-НАША-КОМАНДА------------- */

.team_title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: #212121;
}

.team-sub_title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: #212121;
}

.team-background {
	background-color: #f5f4fa;
}

.team-card-background {
	background-color: #ffffff;
}

/* --------PORTFOLIO-SECTION-Портфолио------------- */

.portfolio-card-background {
	background-color: #ffffff;
}

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: #212121;
}
/* -----PORTFOLIO-FILTER-BUTTON-------------------- */

.filter_super_button {
	font-family: "Roboto";
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	color: #ffffff;
	background-color: #2196f3;
	cursor: pointer;
}

.filter_button {
	font-family: "Roboto";
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	color: #212121;
	background-color: #f5f4fa;
	cursor: pointer;
}

.filter-button-mod:hover,
.filter-button-mod:focus {
	color: #ffffff;
	background: #2196f3;
}
/* ---------------------FOOTER--------------------- */
.footer-fon {
	background-color: #2f303a;
}
.footer-maps-style {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
	color: #ffffff;
}
.footer-contact-style {
	color: rgba(255, 255, 255, 0.6);
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
}

.cont-text-media:hover,
.cont-text-media:focus {
	color: #2196f3;
}
