/* ---------------------PAINT---------------------- */
:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--fon-color: #e5e5e5;
	--secondary-fon-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--fon-button-color: #f5f4fa;
	--fon-header-color: #ffffff;
}

/* --------------BODY--------------- */

body {
	background-color: #e5e5e5;
	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}
/* ------------убираем маркеры ----------*/

.list {
	list-style: none;
}

/* --------------Секции---------------- */

/* Общие оформление заголовков в секциях */

.text-title {
	color: var(--primery-text-color);
	text-align: center;
}

/* Общие оформление текста в секциях */

.text-paragraf {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}
/* ---------------------PAINT---------------------- */
/* ---------------------BUTTON--------------------- */
.button {
	color: var(--inter-color);
	background: var(--fon-color);
}

.button-hover:hover {
	color: var(--fon-color);
	background: var(--inter-color);
}

.button.primery {
	color: var(--inter-color);
	background-color: var(--fon-button-color);
}
.button.secondary {
	color: var(--fon-color);
	background-color: var(--inter-color);
}

/* ---------------------HEADER-GENERAL------------- */
.fon-header {
	background-color: var(--fon-header-color);
}
/* ---------------------HEADER-LOGO---------------- */

/* ---------------------HEADER-NAV----------------- */

.site-nav:hover,
.site-nav:focus {
	color: var(--inter-color);
}
.site-nav:active {
	color: #757575;
}
.site-nav.current {
	color: #000000;
}
/* ---------------------HEADER-CONTACT------------- */

.col-text-contact {
	color: var(--primery-text-color);
}

/* ----------------------HERO---------------------- */

.title-text-hero {
	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
}
.fon-hero {
	background-color: var(--secondary-fon-color);
}

/* -------------FOOTER------------ */
.footer-fon {
	background-color: var(--secondary-fon-color);
}

/* hover - применяеться к любым элементам
focus и active - только к интерактивным (кнопки, ссылки) */
