/* ------------------PAINT-ROOT-------------------- */
:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--fon-color: #ffffff;
	--secondary-fon-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--fon-button-color: #f5f4fa;
	--fon-header-color: #ffffff;
}

/* ------------------PAINT------------------------- */

/*  --primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--fon-color: #e5e5e5;
	--secondary-fon-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--fon-button-color: #f5f4fa;
	--fon-header-color: #ffffff; */

/* --------------------BODY------------------------ */

body {
	color: #212121;
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
}

/* --------------убираем маркеры--------------------*/

.list {
	list-style: none;
}

/* -----------------убираем_подчеркивание-----------*/

.link {
	text-decoration: none;
}
/* -----Общие оформление текста в секциях-----------*/

.site-section-text {
	color: #757575;
	font-size: 14px;
	line-height: 1.7;
}

/* ---------------------BUTTON--------------------- */
.site-button {
	color: #2196f3;
	background: #ffffff;
	cursor: pointer;
}

/* ----------------BUTTON-FILTER------------------- */

.filter_super_button {
	text-align: center;
	color: #ffffff;
	background-color: #2196f3;
	cursor: pointer;
}

.filter_button {
	text-align: center;
	background-color: #f5f4fa;
	cursor: pointer;
}

.filter_button:hover {
	color: #ffffff;
	background: #2196f3;
}

/* ---------------------HEADER-GENERAL-------------- */

/* ----------------HEADER-FOOTER-LOGO--------------- */

.logoblue {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #2196f3;
}

.logoblack {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
}

.logowhite {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #ffffff;
}

/* ----------------SITE-HEADER-NAV----------------- */

.site-header-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: #212121;
}

.site-header-nav:hover,
.site-header-nav:focus {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-heder-nav:active {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-header-nav.current {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
/* ---------------------HEADER-CONTACT------------- */

.site-header-contact {
	color: #212121;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
}

.site-hider-contact-nav:hover {
	color: #2196f3;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
}

/* ----------------------HERO---------------------- */

.hero-title {
	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
}
.fon-hero {
	background-color: #2f303a;
}
/* ----------------BUTTON-HERO--------------------- */

.hero_super_button {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background-color: #2196f3;
	cursor: pointer;
}
/* --------SECTION-Особенности-Peculiarities------- */

.peculiarities-sub_title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
}

/* ---SECTION-Чем_мы_занимаемся-What_are_we_doing-- */

.What_are_we_doing-title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17px;
	text-align: center;
	color: #212121;
}

/* ------------SECTION-Наша команда-Team----------- */

.team_title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17px;
	text-align: center;
	color: #212121;
}

/* ---------------------SECTION-Портфолио---------- */

.title-portfolio {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: var(--primery-text-color);
}

/* ---------------------FOOTER--------------------- */
.footer-fon {
	background-color: #2f303a;
}
.footer-maps-style {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
	color: #ffffff;
}
.footer-contact-style {
	color: rgba(255, 255, 255, 0.6);
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
}

.cont-text-media:hover,
.cont-text-media:focus {
	color: #2196f3;
}

/* hover - применяеться к любым элементам
focus и active - только к интерактивным (кнопки, ссылки) */
